In [1]:
import pandas as pd
import warnings
warnings.simplefilter('ignore')
import numpy as np

In [127]:
train_identity = pd.read_csv("train_identity.csv")

In [128]:
train_transaction = pd.read_csv('train_transaction.csv')

In [129]:
train_transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Columns: 394 entries, TransactionID to V339
dtypes: float64(376), int64(4), object(14)
memory usage: 1.7+ GB

In [131]:
train_data = pd.DataFrame(train_transaction[['isFraud', 'TransactionID', 'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5',
                                            'card6', 'addr1', 'addr2', 'M4', 
                                            'P_emaildomain', 'R_emaildomain']])
train_data = pd.merge(train_data, pd.DataFrame(train_identity[['TransactionID', 'DeviceType', 'DeviceInfo', 'id_12',
                                                              'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_18', 
                                                              'id_19', 'id_20', 'id_21', 'id_22', 'id_23', 'id_24', 
                                                              'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30',
                                                              'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36',
                                                              'id_37', 'id_38']]),
                      on='TransactionID', how='outer')
train_data.head()

,isFraud,TransactionID,ProductCD,card1,card2,card3,card4,card5,card6,addr1,...,id_29,id_30,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38
0,0,2987000,W,13926,NaN,150.0,discover,142.0,credit,315.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,2987001,W,2755,404.0,150.0,mastercard,102.0,credit,325.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,2987002,W,4663,490.0,150.0,visa,166.0,debit,330.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,2987003,W,18132,567.0,150.0,mastercard,117.0,debit,476.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,2987004,H,4497,514.0,150.0,mastercard,102.0,credit,420.0,...,NotFound,Android 7.0,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T

In [132]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590540 entries, 0 to 590539
Data columns (total 43 columns):
isFraud          590540 non-null int64
TransactionID    590540 non-null int64
ProductCD        590540 non-null object
card1            590540 non-null int64
card2            581607 non-null float64
card3            588975 non-null float64
card4            588963 non-null object
card5            586281 non-null float64
card6            588969 non-null object
addr1            524834 non-null float64
addr2            524834 non-null float64
M4               309096 non-null object
P_emaildomain    496084 non-null object
R_emaildomain    137291 non-null object
DeviceType       140810 non-null object
DeviceInfo       118666 non-null object
id_12            144233 non-null object
id_13            127320 non-null float64
id_14            80044 non-null float64
id_15            140985 non-null object
id_16            129340 non-null object
id_17            139369 non-null float64
id_18            45113 non-null float64
id_19            139318 non-null float64
id_20            139261 non-null float64
id_21            5159 non-null float64
id_22            5169 non-null float64
id_23            5169 non-null object
id_24            4747 non-null float64
id_25            5132 non-null float64
id_26            5163 non-null float64
id_27            5169 non-null object
id_28            140978 non-null object
id_29            140978 non-null object
id_30            77565 non-null object
id_31            140282 non-null object
id_32            77586 non-null float64
id_33            73289 non-null object
id_34            77805 non-null object
id_35            140985 non-null object
id_36            140985 non-null object
id_37            140985 non-null object
id_38            140985 non-null object
dtypes: float64(17), int64(3), object(23)
memory usage: 198.2+ MB

In [7]:
features = ['ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'P_emaildomain', 'R_emaildomain', 
            'DeviceType', 'DeviceInfo', 'id_12', 'id_13', 'id_15', 'id_16', 'id_17',  'id_19', 'id_20', 'id_28',
            'id_29', 'id_31', 'id_35', 'id_36', 'id_37', 'id_38']
target = 'isFraud'

In [8]:
new_train_data = train_data[features]
new_train_data[target] = train_data[target]

In [9]:
new_train_data['card4'] = new_train_data['card4'].fillna('unknown')
new_train_data['card6'] = new_train_data['card6'].fillna('unknown')
new_train_data['P_emaildomain'] = new_train_data['P_emaildomain'].fillna('unknown')
new_train_data['R_emaildomain'] = new_train_data['R_emaildomain'].fillna('unknown')
new_train_data['DeviceType'] = new_train_data['DeviceType'].fillna('unknown')
new_train_data['DeviceInfo'] = new_train_data['DeviceInfo'].fillna('unknown')
new_train_data['id_15'] = new_train_data['id_15'].fillna('unknown')
new_train_data['id_16'] = new_train_data['id_16'].fillna('unknown')
new_train_data['id_28'] = new_train_data['id_28'].fillna('unknown')
new_train_data['id_29'] = new_train_data['id_29'].fillna('unknown')
new_train_data['id_31'] = new_train_data['id_31'].fillna('unknown')
new_train_data['id_35'] = new_train_data['id_35'].fillna('unknown')
new_train_data['id_36'] = new_train_data['id_36'].fillna('unknown')
new_train_data['id_37'] = new_train_data['id_37'].fillna('unknown')
new_train_data['id_38'] = new_train_data['id_38'].fillna('unknown')

In [10]:
new_train_data.dropna(inplace=True)

In [11]:
new_train_data['ProductCD'] = new_train_data['ProductCD'].astype('category')
new_train_data['card4'] = new_train_data['card4'].astype('category')
new_train_data['card6'] = new_train_data['card6'].astype('category')
new_train_data['P_emaildomain'] = new_train_data['P_emaildomain'].astype('category')
new_train_data['R_emaildomain'] = new_train_data['R_emaildomain'].astype('category')
new_train_data['DeviceType'] = new_train_data['DeviceType'].astype('category')
new_train_data['DeviceInfo'] = new_train_data['DeviceInfo'].astype('category')
new_train_data['id_12'] = new_train_data['id_12'].astype('category')
new_train_data['id_15'] = new_train_data['id_15'].astype('category')
new_train_data['id_16'] = new_train_data['id_16'].astype('category')
new_train_data['id_28'] = new_train_data['id_28'].astype('category')
new_train_data['id_29'] = new_train_data['id_29'].astype('category')
new_train_data['id_31'] = new_train_data['id_31'].astype('category')
new_train_data['id_35'] = new_train_data['id_35'].astype('category')
new_train_data['id_36'] = new_train_data['id_36'].astype('category')
new_train_data['id_37'] = new_train_data['id_37'].astype('category')
new_train_data['id_38'] = new_train_data['id_38'].astype('category')

In [12]:
cat_columns = new_train_data.select_dtypes(['category']).columns
new_train_data[cat_columns] = new_train_data[cat_columns].apply(lambda x: x.cat.codes)

In [13]:
new_train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120927 entries, 1 to 144232
Data columns (total 26 columns):
ProductCD        120927 non-null int8
card1            120927 non-null int64
card2            120927 non-null float64
card3            120927 non-null float64
card4            120927 non-null int8
card5            120927 non-null float64
card6            120927 non-null int8
P_emaildomain    120927 non-null int8
R_emaildomain    120927 non-null int8
DeviceType       120927 non-null int8
DeviceInfo       120927 non-null int16
id_12            120927 non-null int8
id_13            120927 non-null float64
id_15            120927 non-null int8
id_16            120927 non-null int8
id_17            120927 non-null float64
id_19            120927 non-null float64
id_20            120927 non-null float64
id_28            120927 non-null int8
id_29            120927 non-null int8
id_31            120927 non-null int16
id_35            120927 non-null int8
id_36            120927 non-null int8
id_37            120927 non-null int8
id_38            120927 non-null int8
isFraud          120927 non-null int64
dtypes: float64(7), int16(2), int64(2), int8(15)
memory usage: 11.4 MB

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split, GridSearchCV

In [17]:
X_train, X_valid, y_train, y_valid = train_test_split(new_train_data[features], 
                                                      new_train_data[target], 
                                                      random_state=42)

In [29]:
parameters = [{'n_estimators': [200, 250],
               'max_features': [X_train.shape[1]],
               'max_depth': [15]}]

In [30]:
classifier = GridSearchCV(estimator=RandomForestClassifier(random_state=42),
                   param_grid=parameters,
                   scoring='accuracy',
                   cv=7)

In [31]:
%%time
classifier.fit(X_train, y_train)

CPU times: user 12min 42s, sys: 80.9 ms, total: 12min 42s
Wall time: 12min 44s

GridSearchCV(cv=7, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
            oob_score=False, random_state=42, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid=[{'n_estimators': [200, 250], 'max_features': [25], 'max_depth': [15]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [32]:
classifier.score(X_train, y_train), classifier.score(X_valid, y_valid)

(0.9632063509565025, 0.9448928287906854)

In [33]:
classifier.best_params_

{'max_depth': 15, 'max_features': 25, 'n_estimators': 250}

In [37]:
## Добавить дату (день вечер ночь), объединить браузеры, устройства (модели и типы), 
## операционные системы (убрать версии)
## Посмотреть другие фичи
## убрать фичи, в которых меньше половины данных.

In [44]:
test_identity = pd.read_csv("test_identity.csv")
test_transaction = pd.read_csv('test_transaction.csv')

In [68]:
test_data = pd.DataFrame(test_transaction[['TransactionID', 'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5',
                                            'card6', 'addr1', 'addr2', 'M4', 
                                            'P_emaildomain', 'R_emaildomain']])
test_data = pd.merge(test_data, pd.DataFrame(test_identity[['TransactionID', 'DeviceType', 'DeviceInfo', 'id_12',
                                                              'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_18', 
                                                              'id_19', 'id_20', 'id_21', 'id_22', 'id_23', 'id_24', 
                                                              'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30',
                                                              'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36',
                                                              'id_37', 'id_38']]),
                      on='TransactionID', how='inner')

In [69]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141907 entries, 0 to 141906
Data columns (total 42 columns):
TransactionID    141907 non-null int64
ProductCD        141907 non-null object
card1            141907 non-null int64
card2            139410 non-null float64
card3            140832 non-null float64
card4            140749 non-null object
card5            139967 non-null float64
card6            140827 non-null object
addr1            78244 non-null float64
addr2            78244 non-null float64
M4               65627 non-null object
P_emaildomain    130247 non-null object
R_emaildomain    132110 non-null object
DeviceType       136931 non-null object
DeviceInfo       115057 non-null object
id_12            141907 non-null object
id_13            130286 non-null float64
id_14            71357 non-null float64
id_15            136977 non-null object
id_16            125747 non-null object
id_17            135966 non-null float64
id_18            50875 non-null float64
id_19            135906 non-null float64
id_20            135633 non-null float64
id_21            5059 non-null float64
id_22            5062 non-null float64
id_23            5062 non-null object
id_24            4740 non-null float64
id_25            5039 non-null float64
id_26            5047 non-null float64
id_27            5062 non-null object
id_28            136778 non-null object
id_29            136778 non-null object
id_30            70659 non-null object
id_31            136625 non-null object
id_32            70671 non-null float64
id_33            70671 non-null object
id_34            72175 non-null object
id_35            136977 non-null object
id_36            136977 non-null object
id_37            136977 non-null object
id_38            136977 non-null object
dtypes: float64(17), int64(2), object(23)
memory usage: 46.6+ MB

In [76]:
n_test_data = test_data[features]
n_test_data['TransactionID'] = test_data['TransactionID']

In [77]:
n_test_data['card4'] = n_test_data['card4'].fillna('unknown')
n_test_data['card6'] = n_test_data['card6'].fillna('unknown')
n_test_data['P_emaildomain'] = n_test_data['P_emaildomain'].fillna('unknown')
n_test_data['R_emaildomain'] = n_test_data['R_emaildomain'].fillna('unknown')
n_test_data['DeviceType'] = n_test_data['DeviceType'].fillna('unknown')
n_test_data['DeviceInfo'] = n_test_data['DeviceInfo'].fillna('unknown')
n_test_data['id_15'] = n_test_data['id_15'].fillna('unknown')
n_test_data['id_16'] = n_test_data['id_16'].fillna('unknown')
n_test_data['id_28'] = n_test_data['id_28'].fillna('unknown')
n_test_data['id_29'] = n_test_data['id_29'].fillna('unknown')
n_test_data['id_31'] = n_test_data['id_31'].fillna('unknown')
n_test_data['id_35'] = n_test_data['id_35'].fillna('unknown')
n_test_data['id_36'] = n_test_data['id_36'].fillna('unknown')
n_test_data['id_37'] = n_test_data['id_37'].fillna('unknown')
n_test_data['id_38'] = n_test_data['id_38'].fillna('unknown')

In [78]:
n_test_data = n_test_data.fillna(0)

In [79]:
n_test_data['ProductCD'] = n_test_data['ProductCD'].astype('category')
n_test_data['card4'] = n_test_data['card4'].astype('category')
n_test_data['card6'] = n_test_data['card6'].astype('category')
n_test_data['P_emaildomain'] = n_test_data['P_emaildomain'].astype('category')
n_test_data['R_emaildomain'] = n_test_data['R_emaildomain'].astype('category')
n_test_data['DeviceType'] = n_test_data['DeviceType'].astype('category')
n_test_data['DeviceInfo'] = n_test_data['DeviceInfo'].astype('category')
n_test_data['id_12'] = n_test_data['id_12'].astype('category')
n_test_data['id_15'] = n_test_data['id_15'].astype('category')
n_test_data['id_16'] = n_test_data['id_16'].astype('category')
n_test_data['id_28'] = n_test_data['id_28'].astype('category')
n_test_data['id_29'] = n_test_data['id_29'].astype('category')
n_test_data['id_31'] = n_test_data['id_31'].astype('category')
n_test_data['id_35'] = n_test_data['id_35'].astype('category')
n_test_data['id_36'] = n_test_data['id_36'].astype('category')
n_test_data['id_37'] = n_test_data['id_37'].astype('category')
n_test_data['id_38'] = n_test_data['id_38'].astype('category')
n_cat_columns = n_test_data.select_dtypes(['category']).columns
n_test_data[n_cat_columns] = n_test_data[n_cat_columns].apply(lambda x: x.cat.codes)

In [80]:
n_test_data.head()

,ProductCD,card1,card2,card3,card4,card5,card6,P_emaildomain,R_emaildomain,DeviceType,...,id_19,id_20,id_28,id_29,id_31,id_35,id_36,id_37,id_38,TransactionID
0,0,15885,545.0,185.0,4,138.0,2,19,19,1,...,427.0,563.0,1,1,45,0,0,1,0,3663586
1,3,2453,399.0,150.0,0,137.0,1,49,16,1,...,542.0,368.0,0,0,45,1,0,1,1,3663588
2,0,15885,545.0,185.0,4,138.0,2,1,1,0,...,271.0,507.0,1,1,100,0,1,1,0,3663597
3,0,15885,545.0,185.0,4,138.0,2,19,19,1,...,427.0,563.0,0,0,45,0,0,1,0,3663601
4,0,9633,130.0,185.0,4,138.0,2,19,19,1,...,567.0,507.0,1,1,45,0,0,1,0,3663602

In [81]:
n_test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141907 entries, 0 to 141906
Data columns (total 26 columns):
ProductCD        141907 non-null int8
card1            141907 non-null int64
card2            141907 non-null float64
card3            141907 non-null float64
card4            141907 non-null int8
card5            141907 non-null float64
card6            141907 non-null int8
P_emaildomain    141907 non-null int8
R_emaildomain    141907 non-null int8
DeviceType       141907 non-null int8
DeviceInfo       141907 non-null int16
id_12            141907 non-null int8
id_13            141907 non-null float64
id_15            141907 non-null int8
id_16            141907 non-null int8
id_17            141907 non-null float64
id_19            141907 non-null float64
id_20            141907 non-null float64
id_28            141907 non-null int8
id_29            141907 non-null int8
id_31            141907 non-null int16
id_35            141907 non-null int8
id_36            141907 non-null int8
id_37            141907 non-null int8
id_38            141907 non-null int8
TransactionID    141907 non-null int64
dtypes: float64(7), int16(2), int64(2), int8(15)
memory usage: 13.4 MB

In [82]:
y_test_pred = classifier.predict(n_test_data[features])

In [123]:
answer['isFraud'] = y_test_pred
answer.index = n_test_data['TransactionID']

In [124]:
answer['isFraud'].value_counts()

0    137869
1      4038
Name: isFraud, dtype: int64

In [125]:
answer.head()

               isFraud
TransactionID
3663586              0
3663588              0
3663597              0
3663601              0
3663602              0

In [126]:
answer.to_csv('answer.csv')