In [1]:
import pandas as pd

In [2]:
train_identity = pd.read_csv("train_identity.csv")

In [3]:
train_transaction = pd.read_csv('train_transaction.csv')

In [4]:
train_transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Columns: 394 entries, TransactionID to V339
dtypes: float64(376), int64(4), object(14)
memory usage: 1.7+ GB

In [13]:
train_data = pd.DataFrame(train_transaction[['TransactionID', 'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5',
                                            'card6', 'addr1', 'addr2', 'M1', 'M2', 'M3', 'M4', 'M5', 
                                            'M6', 'M7', 'M8', 'M9', 'P_emaildomain', 'R_emaildomain']])
train_data = pd.merge(train_data, pd.DataFrame(train_identity[['TransactionID', 'DeviceType', 'DeviceInfo', 'id_12',
                                                              'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_18', 
                                                              'id_19', 'id_20', 'id_21', 'id_22', 'id_23', 'id_24', 
                                                              'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30',
                                                              'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36',
                                                              'id_37', 'id_38']]),
                      on='TransactionID', how='inner')
train_data.head()

,TransactionID,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,...,id_29,id_30,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38
0,2987004,H,4497,514.0,150.0,mastercard,102.0,credit,420.0,87.0,...,NotFound,Android 7.0,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T
1,2987008,H,2803,100.0,150.0,visa,226.0,debit,337.0,87.0,...,NotFound,iOS 11.1.2,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T
2,2987010,C,16496,352.0,117.0,mastercard,134.0,credit,NaN,NaN,...,Found,NaN,chrome 62.0,NaN,NaN,NaN,F,F,T,T
3,2987011,C,4461,375.0,185.0,mastercard,224.0,debit,NaN,NaN,...,NotFound,NaN,chrome 62.0,NaN,NaN,NaN,F,F,T,T
4,2987016,H,1790,555.0,150.0,visa,226.0,debit,170.0,87.0,...,Found,Mac OS X 10_11_6,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T

In [14]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144233 entries, 0 to 144232
Data columns (total 50 columns):
TransactionID    144233 non-null int64
ProductCD        144233 non-null object
card1            144233 non-null int64
card2            143331 non-null float64
card3            144061 non-null float64
card4            144049 non-null object
card5            143277 non-null float64
card6            144055 non-null object
addr1            83786 non-null float64
addr2            83786 non-null float64
M1               0 non-null object
M2               0 non-null object
M3               0 non-null object
M4               60831 non-null object
M5               0 non-null object
M6               0 non-null object
M7               0 non-null object
M8               0 non-null object
M9               0 non-null object
P_emaildomain    130842 non-null object
R_emaildomain    131083 non-null object
DeviceType       140810 non-null object
DeviceInfo       118666 non-null object
id_12            144233 non-null object
id_13            127320 non-null float64
id_14            80044 non-null float64
id_15            140985 non-null object
id_16            129340 non-null object
id_17            139369 non-null float64
id_18            45113 non-null float64
id_19            139318 non-null float64
id_20            139261 non-null float64
id_21            5159 non-null float64
id_22            5169 non-null float64
id_23            5169 non-null object
id_24            4747 non-null float64
id_25            5132 non-null float64
id_26            5163 non-null float64
id_27            5169 non-null object
id_28            140978 non-null object
id_29            140978 non-null object
id_30            77565 non-null object
id_31            140282 non-null object
id_32            77586 non-null float64
id_33            73289 non-null object
id_34            77805 non-null object
id_35            140985 non-null object
id_36            140985 non-null object
id_37            140985 non-null object
id_38            140985 non-null object
dtypes: float64(17), int64(2), object(31)
memory usage: 56.1+ MB

In [6]:
train_target = pd.DataFrame(train_transaction['isFraud'])
train_target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Data columns (total 1 columns):
isFraud    590540 non-null int64
dtypes: int64(1)
memory usage: 4.5 MB